{%load static%}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.js"
    integrity="sha512-dBB2PGgYedA6vzize7rsf//Q6iuUuMPvXCDybHtZP3hQXCPCD/YVJXK3QYZ2v0p7YCfVurqr8IdcSuj4CCKnGg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="{% static 'static1/css/popup5.css'%}">



  <style>
    li {
      margin: 0 20px;
    }

    #table1 {
      display: block;
      background: rgb(29, 174, 181);
      color: rgb(30, 28, 27);
      position: relative;
      animation: mymove 2s;
    }

    #div2 {
      display: block;
      position: relative;
      animation: mynewmove 2s;
    }

    @keyframes mymove {
      from {
        bottom: 0px;
      }

      to {
        bottom: 10px;
      }
    }

    @keyframes mynewmove {
      from {
        left: 0px;
      }

      to {
        left: 20px;
      }
    }

    .popupdiv {
      display: none;
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      padding-top: 100px;
      /* Location of the box */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
    }
  </style>
  <script>
    function showdetails() {
      document.getElementById("vdetails").style.display = "block";
      document.getElementById("estimate").style.display = "none";

    } function showestimate() {
      document.getElementById("vdetails").style.display = "none";
      document.getElementById("estimate").style.display = "block";

    } function showreview() {
      // document.getElementById("").style.display="block";

    }
    function rpayment() {
      document.getElementById("vdetails").style.display = "none";
      document.getElementById('rpayment').style.display="block";

    }
    function close() {
      document.getElementById("userpopup").style.display = "none";
    }
    function showpop() {
      document.getElementById("userpopup").style.display = "block";
    }
    var pid='{{pd.id}}';
    var cid='{{u.Contractor_id}}';
    console.log(pid, cid);
    fetch("/check-project", {
        body: JSON.stringify({ a: pid, c: cid}),
        method: "POST"
      })
      .then((res) => res.json())
      .then((data) => {
        console.log(data);
        if(data == 'false'){
          document.getElementById('checkproject').style.display = "block";
          document.getElementById('payments').style.display = "none";
        }
        else{
          document.getElementById('checkproject').style.display = "none";
          document.getElementById('payments').style.display = "block";
        }
      })


  </script>


  <title>Project Management</title>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">{{pd.p_name}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <div>
            <li class="nav-item">
              <button class="nav-link btn btn-outline-success" onclick="return showdetails();">View
                Detais</button>
            </li>
          </div>
          <div id="checkproject">
            <li class="nav-item">
              <button class="nav-link btn btn-outline-info" onclick="return showestimate();">Caculate
                Estimate</button>
            </li>
          </div>
          <div id="payments">
            <li class="nav-item">
              <button class="nav-link btn btn-outline-info" onclick="return rpayment();">Payments
                </button>
            </li>
          </div>
          <!-- <div>
            <li class="nav-item">
              <button class="nav-link btn btn-outline-info" onclick="return showprogress();">Progress</button>
            </li>
          </div> -->
          <div>
            <li class="nav-item">
              <button class="nav-link btn btn-outline-info" onclick="return showreview();">Rating and
                Review</button>
            </li>
          </div>
        </ul>
        <form class="d-flex">
          <button type="button" class="btn btn-danger" onclick="closeMe();">Close</button>
        </form>
      </div>
    </div>
  </nav>
</head>

<body>
  <div class="popupdiv" id="userpopup">
    <div class="popup">
      <img id="imgDino1" src="{% static 'static1/img/accept1.gif'%}" alt="" height="100" width="100">
      <h1>Upload This Quotation Or Your Quotation</h1><br><br>
      <a class="close" href="javascript:close()">&times;</a>
      <div class="row">
        <div class="col-sm-6">
          <form action="/add_quotation/" method="post" enctype="multipart/form-data" onsubmit="return addestimate();">
            {% csrf_token %}
            <input type="hidden" name="pid" value="{{pd.id}}">
            <input type="hidden" name="cid" value="{{u.Contractor_id}}">
            <input type="hidden" name="cusid" value="{{pd.Customer_id}}">
            <input type="hidden" name="amount" id="amount">
            <input type="file" class="form-control" name="estimatepdf" id="estimatepdf" accept=".pdf, .doc, .csv">
        </div>
        <div class="col-sm-6">
          <input type="submit" value="submit" class="btn btn-success">
        </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    function addestimate() {
      var a = document.getElementById('amount').value;
      var f = document.getElementById('estimatepdf').value;
      var allwd = /(\.doc|\.docx|\.pdf|\.csv)$/i;
      if (f == "") {
        alert("Choose File");
        return false;
      }
      else if (!allwd.exec(f)) {
        alert("Only PDF and DOC files are allowed");
        return false;
      }
      else if (a.length == 0) {
        alert("please generate first");
        return false;
      }
      return true;
    }
    function closeMe() {
      window.opener = self;
      window.close();
    }
  </script>
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-danger alert-dismissible" style="width: 450px;">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{ message }}</strong>
  </div>
  {% endfor %}
  {% endif %}

  <div class="row" id="vdetails">
    <div class="row">
      <div class="col-xl-6">
        <div class="table">
          <table class="table table-bordered" style="margin:20px;">
            <tr class="table-dark">
              <th text-align="center">DETAILS</th>
              <th text-align="center">{{pd.Type}}</th>
            </tr>
            <tr class="table-info">
              <td>Estimated Start Date :</td>
              <td>{{pd.D_start}}</td>
            </tr>
            <tr class="table-info">
              <td>Estimated End Date : </td>
              <TD>{{pd.D_end}}</TD>
            </tr>
            <input type="hidden" id="lat" value="{{pd.lat}}">
            <input type="hidden" id="lon" value="{{pd.lon}}">
            <tr class="table-info">
              <td>City :</td>
              <TD>{{pd.Loc}}</TD>
            </tr>
            <tr class="table-info">
              <td>Suggestions :</td>
              <td>{{pd.Suggestion}}<br></td>
            </tr>
            <tr class="table-info">
              <td>Customer Name :</td>
              <td colspan="2">{{d.Name}} <a data-bs-toggle="collapse" data-bs-target="#demo"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                  </svg></a></td>
            </tr>
            <tr id="demo" class="collapse table-success">
              <td>Contact Details :</td>
              <td>{{d.Ph_no}}<br>{{d.Email}}</td>
            </tr>
            <tr class="table-info">
              <td>Remarks :</td>
              <td>{{pd.remark}} </td>
            </tr>
          </table>
        </div>

      </div>
      <div class="col-xl-6">
        <iframe id="google_map" width="100%" height="400" frameborder="0" scrolling="no" marginheight="0"
          marginwidth="0" src="https://maps.google.co.in?output=embed"></iframe><br>
      </div>
      <br><br>
      <div class="row">
        <div class="col-xl-6" align="center">
          <a type="button" href="{{pd.Plan_img}}" class="btn btn-outline-primary" download> Download Plan</a>
        </div>
        <div class="col-xl-6" align="center">
          <button type="button" class="btn btn-outline-primary" onclick="return showmap();">Show Location</button><br>
        </div>
      </div>

    </div>
  </div>
  <div id="estimate">
    <div class="row" style="height: 40%;">
      <div class="col-md-12" style="background-color: yellow;">
        <div class="container mt-3">
          <h2>Calculate Estimate</h2>
          <form action="">
            <div class="mb-3 mt-3">
              <label>Builtup Area</label>
              <input type="text" class="form-control" id="area" placeholder="Enter Area (In Sqft)" name="sqft" required>
            </div>
            <div class="mb-3 mt-3">
              <label>Approx Cost (Per Square Feet) </label><br>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="rate" name="rate" value="{{r.Rate}}">
              <input type="hidden" value="{{r.Type_id}}" id="typer">
              <button class="btn btn-success" type="button" onclick="show();"><svg xmlns="http://www.w3.org/2000/svg"
                  width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                  <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                </svg> </button>
            </div>
            <button type="button" class="btn btn-primary" onclick="cal_estimate();">View Estimate</button>
          </form>
        </div>
      </div>
      <h2 id="heading">Approx amount of cost for given construction is Rs. <span id="total"
          style="color: red; font-weight: bold"></span></h2><br>
      <div class="col-md-7" style="background-color: rgb(255, 255, 255);" id="table1">
        <table class="table table-bordered">
          <tr>
            <th colspan="2">
              Approximate cost on various work of materialas per thumb rule
            </th>
          </tr>
          <tr>
            <td>Cement (16.4 %)</td>
            <td><span id="c" style="color: rgb(0, 34, 255); font-style: italic;font-weight: bold;"></span></td>
          </tr>
          <tr>
            <td>Sand (12.3 %)</td>
            <td><span id="s" style="color: rgb(115, 0, 255); font-style: italic;font-weight: bold;"></span></td>
          </tr>
          <tr>
            <td>Aggregate (7.4 %)</td>
            <td><span id="a" style="color: rgb(255, 153, 0); font-style: italic;font-weight: bold;"></span></td>
          </tr>
          <tr>
            <td>Steel (24.6 %)</td>
            <td><span id="st" style="color: rgb(0, 179, 255); font-style: italic;font-weight: bold;"></span></td>
          </tr>
          <tr>
            <td>Finishers (16.5 %)<br>
              (Paint (4.1 %) + Tiles (8.0 %) + Bricks (4.4 %))</td>
            <td><span id="f" style="color: rgb(255, 0, 242); font-style: italic;font-weight: bold;"></span></td>
          </tr>
          <tr>
            <td>Fittings (22.8 %)<br>
              (Window (3.0 %) + Doors (3.4 %) + Plumbing (5.5 %) + Eletrical (6.8 %) + Sanitary (4.1 %))</td>
            <td><span id="fi" style="color: rgb(0, 255, 0); font-style: italic;font-weight: bold;"></span></td>
          </tr>
          <tr>
            <td><b>TOTAL COST</b></td>
            <td><span id="t" style="color: red; font-weight: bold"></span></td>
          </tr>
        </table>
      </div>
      <div class="col-md-5" id="div2" style="width:100%; max-width:600px; height:500px;">
        <div id="myChart" style="width:100%; max-width:600px; height:500px;">

        </div>
      </div><br>
      <button class="btn btn-outline-danger" onclick="return generatePDF();" id="generatebtn"> Generate PDF</button>
    </div>
  </div>
  <div class="container" id="invoice">
    <div class="row">
      <h3 align="center">{{pd.p_name}} Estimate</h3><br>
      <div class="col-sm-12">
        <h5 align="right" id="date"></h5>
        <h5>From </h5>
        <h6>{{c.Name}}</h6>
        <h6>{{c.Address}}</h6>
        <h6>{{c.Ph_no}}</h6><br>
      </div>
      <div class="col-sm-12">
        <h5>To</h5>
        <h6>{{d.Name}}</h6>
        <h6>{{d.Address}}</h6>
        <h6>{{d.Ph_no}}</h6>
        <h4 id="heading">Approx amount of cost for given construction is Rs. <span id="total1"
            style="color: red; font-weight: bold"></span> &nbsp; Including Material and Labour Charge </h4><br>
        <h5 align="center">Price Breakup</h5>
      </div>
      <div class="col-sm-12">
        <table class="table table-bordered">
          <tr>
            <th colspan="2">
              Approximate cost on various work of materialas per thumb rule
            </th>
          </tr>
          <tr>
            <td>Cement (16.4 %)</td>
            <td><span id="c1" style="color: rgb(0, 34, 255); font-style: italic;font-weight: bold;"></span></td>
          </tr>
          <tr>
            <td>Sand (12.3 %)</td>
            <td><span id="s1" style="color: rgb(115, 0, 255); font-style: italic;font-weight: bold;"></span></td>
          </tr>
          <tr>
            <td>Aggregate (7.4 %)</td>
            <td><span id="a1" style="color: rgb(255, 153, 0); font-style: italic;font-weight: bold;"></span></td>
          </tr>
          <tr>
            <td>Steel (24.6 %)</td>
            <td><span id="st1" style="color: rgb(0, 179, 255); font-style: italic;font-weight: bold;"></span></td>
          </tr>
          <tr>
            <td>Finishers (16.5 %)<br>
              (Paint (4.1 %) + Tiles (8.0 %) + Bricks (4.4 %))</td>
            <td><span id="f1" style="color: rgb(255, 0, 242); font-style: italic;font-weight: bold;"></span></td>
          </tr>
          <tr>
            <td>Fittings (22.8 %)<br>
              (Window (3.0 %) + Doors (3.4 %) + Plumbing (5.5 %) + Eletrical (6.8 %) + Sanitary (4.1 %))</td>
            <td><span id="fi1" style="color: rgb(0, 255, 0); font-style: italic;font-weight: bold;"></span></td>
          </tr>
          <tr>
            <td><b>TOTAL COST</b></td>
            <td><span id="t1" style="color: red; font-weight: bold"></span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-12" align="center">
    <button type="button" class="btn btn-success" id="submitbtn" onclick="return showpop();">Submit</button>
  </div>

<!-- Payments  -->
  <div class="container" id="rpayment" style="background-color:rgb(140, 171, 189);">
    <div class="row" style="background-color:rgb(0, 255, 170);">
      <h3>Request Payment</h3>
      <div class="col-xl-6" style="background-color:aquamarine;">
        <div class="mb-3 mt-3">
          <label>Amount Required</label>
          <input type="text" class="form-control" id="ramount" placeholder="Enter Required Amount" name="ramount" required>
        </div>
        <button type="button" class="btn btn-outline-info" onclick="return update_request();">Submit</button><br>
      </div>
      <div class="col-xl-6">
        <h3>Payment History</h3>
      </div><br>
      <div class="col-sm-12" align="center">
        <h3>Progress Update</h3>
      </div>
    </div>
  </div>

</body>
<script>
  document.getElementById("estimate").style.display = "none";
  document.getElementById('rate').setAttribute("readonly", '');
  document.getElementById('heading').style.display = "none";
  document.getElementById('table1').style.display = "none";
  document.getElementById('div2').style.display = "none";
  document.getElementById('invoice').style.display = "none";
  document.getElementById('submitbtn').style.display = "none";
  document.getElementById('generatebtn').style.display = "none";
  document.getElementById('rpayment').style.display="none";

  var today = new Date();
  var dd = String(today.getDate()).padStart(2, '0');
  var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
  var yyyy = today.getFullYear();

  today = mm + '/' + dd + '/' + yyyy;
  document.getElementById('date').innerHTML = today;
  document.getElementById('invoice').style.display = "none";


  function showmap() {

    var lat = document.getElementById('lat').value;
    var lon = document.getElementById('lon').value;
    var coords = lat + ',' + lon;
    document.getElementById("google_map").setAttribute('src', 'https://maps.google.co.in/?q=' + coords + '&output=embed');
  }
  function show() {
    if (document.getElementById('rate').hasAttribute('readonly')) {
      document.getElementById('rate').removeAttribute('readonly');
    }
    else {
      document.getElementById('rate').setAttribute("readonly", '');
    }
  }
  function cal_estimate() {
    google.charts.load('current', { 'packages': ['corechart'] });

    var area = document.getElementById('area').value;
    var rate = document.getElementById('rate').value;
    var type = document.getElementById('typer').value;

    if (area.length > 0 & rate.length > 0) {
      fetch("/cal-estimate", {
        body: JSON.stringify({ a: area, r: rate, t: type }),
        method: "POST"
      })
        .then((res) => res.json())
        .then((data) => {
          console.log(data);
          document.getElementById('heading').style.display = "block";
          document.getElementById('table1').style.display = "block";
          document.getElementById('div2').style.display = "block";

          document.getElementById('total').innerHTML = 'Rs.' + data.total;
          document.getElementById('amount').value = data.total_cost;
          document.getElementById('t').innerHTML = 'Rs.' + data.total;
          document.getElementById('c').innerHTML = 'Rs.' + data.cement;
          document.getElementById('a').innerHTML = 'Rs.' + data.aggregate;
          document.getElementById('s').innerHTML = 'Rs.' + data.sand;
          document.getElementById('st').innerHTML = 'Rs.' + data.steel;
          document.getElementById('f').innerHTML = 'Rs.' + data.finishers;
          document.getElementById('fi').innerHTML = 'Rs.' + data.fittings;

          document.getElementById('total1').innerHTML = 'Rs.' + data.total;
          document.getElementById('t1').innerHTML = 'Rs.' + data.total;
          document.getElementById('c1').innerHTML = 'Rs.' + data.cement;
          document.getElementById('a1').innerHTML = 'Rs.' + data.aggregate;
          document.getElementById('s1').innerHTML = 'Rs.' + data.sand;
          document.getElementById('st1').innerHTML = 'Rs.' + data.steel;
          document.getElementById('f1').innerHTML = 'Rs.' + data.finishers;
          document.getElementById('fi1').innerHTML = 'Rs.' + data.fittings;
          google.charts.setOnLoadCallback(drawChart);
          google.charts.load('current', { 'packages': ['corechart'] });

          function drawChart() {
            var d = google.visualization.arrayToDataTable([
              ['Months', 'Estimate'],
              ['First Month - 21.9%', data.firstm],
              ['Second Month - 18.4%', data.secondm],
              ['Third Month - 11.1%', data.thirdm],
              ['Fourth Month - 16.9%', data.fourthm],
              ['Fifth Month - 17.8%', data.fifthm],
              ['Sixth Month - 13.9%', data.sixthm],
            ]);

            var options = {
              title: 'To complete this construction in 6 months timeline money required'
            };

            var chart = new google.visualization.BarChart(document.getElementById('myChart'));
            chart.draw(d, options);
          }
        });
      document.getElementById('generatebtn').style.display = "block";

    }
    else {
      alert("Please enter Area and Rate");
    }
  }
  function generatePDF() {
    var area = document.getElementById('area').value;
    var rate = document.getElementById('rate').value;
    if (area.length > 0 & rate.length > 0) {
      document.getElementById("estimate").style.display = "none";
      document.getElementById('invoice').style.display = "block";
      const element = document.getElementById('invoice');
      var opt = {
        margin: 1,
        filename: 'estimate_{{c.Name}}.pdf',
        jsPDF: { format: 'a4', orientation: 'portrait' }
      };
      a = html2pdf().set(opt).from(element).save();
      document.getElementById('submitbtn').style.display = "block";

      return false;
    }
    else {
      alert("please Calculate The Estimate");
      return true;
    }
  }
</script>
<script src="{% static 'static1/js/usersearch.js'%}"></script>

</html>