<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <style>
    li {
      margin: 0 20px;
    }

    #table1 {
      display: block;
      background: rgb(29, 174, 181);
      color: rgb(30, 28, 27);
      position: relative;
      animation: mymove 2s;
    }
    #div2 {
      display: block;
      position: relative;
      animation: mynewmove 2s;
    }

    @keyframes mymove {
      from {
        bottom: 0px;
      }

      to {
        bottom: 10px;
      }
    }

    @keyframes mynewmove {
      from {
        bottom: 0px;
      }

      to {
        bottom: 50px;
      }
    }
  </style>
  <script>
    function showdetails() {
      document.getElementById("vdetails").style.display = "block";
      document.getElementById("estimate").style.display = "none";

    } function showestimate() {
      document.getElementById("vdetails").style.display = "none";
      document.getElementById("estimate").style.display = "block";

    } function showreview() {
      // document.getElementById("").style.display="block";

    }
    function showprogress() {
      // document.getElementById("").style.display="block";

    }

  </script>


  <title>Project Management</title>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">{{pd.p_name}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <div>
            <li class="nav-item">
              <button class="nav-link btn btn-outline-success" onclick="return showdetails();">View
                Detais</button>
            </li>
          </div>
          <div>
            <li class="nav-item">
              <button class="nav-link btn btn-outline-info" onclick="return showestimate();">Caculate
                Estimate</button>
            </li>
          </div>
          <div>
            <li class="nav-item">
              <button class="nav-link btn btn-outline-info" onclick="return showprogress();">Progress</button>
            </li>
          </div>
          <div>
            <li class="nav-item">
              <button class="nav-link btn btn-outline-info" onclick="return showreview();">Rating and
                Review</button>
            </li>
          </div>
        </ul>
        <form class="d-flex">
          <a class="btn btn-danger" href="javascript:window.open('','_self').close();">Close</a>
        </form>
      </div>
    </div>
  </nav>
</head>

<body>
  <div class="row" id="vdetails">
    <div class="row">
      <div class="col-xl-6">
        <div class="table">
          <table class="table table-bordered" style="margin:20px;">
            <tr class="table-dark">
              <th text-align="center">DETAILS</th>
              <th text-align="center">{{pd.Type}}</th>
            </tr>
            <tr class="table-info">
              <td>Estimated Start Date :</td>
              <td>{{pd.D_start}}</td>
            </tr>
            <tr class="table-info">
              <td>Estimated End Date : </td>
              <TD>{{pd.D_end}}</TD>
            </tr>
            <input type="hidden" id="lat" value="{{pd.lat}}">
            <input type="hidden" id="lon" value="{{pd.lon}}">
            <tr class="table-info">
              <td>City :</td>
              <TD>{{pd.Loc}}</TD>
            </tr>
            <tr class="table-info">
              <td>Suggestions :</td>
              <td>{{pd.Suggestion}}<br></td>
            </tr>
            <tr class="table-info">
              <td>Customer Name :</td>
              <td colspan="2">{{d.Name}} <a data-bs-toggle="collapse" data-bs-target="#demo"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                  </svg></a></td>
            </tr>
            <tr id="demo" class="collapse table-success">
              <td>Contact Details :</td>
              <td>{{d.Ph_no}}<br>{{d.Email}}</td>
            </tr>
            <tr class="table-info">
              <td>Remarks :</td>
              <td>{{pd.remark}} </td>
            </tr>
          </table>
        </div>

      </div>
      <div class="col-xl-6">
        <iframe id="google_map" width="100%" height="400" frameborder="0" scrolling="no" marginheight="0"
          marginwidth="0" src="https://maps.google.co.in?output=embed"></iframe><br>
      </div>
      <br><br>
      <div class="row">
        <div class="col-xl-6" align="center">
          <a type="button" href="{{pd.Plan_img}}" class="btn btn-outline-primary" download> Download Plan</a>
        </div>
        <div class="col-xl-6" align="center">
          <button type="button" class="btn btn-outline-primary" onclick="return showmap();">Show Location</button><br>
        </div>
      </div>

    </div>
  </div>
  <div id="estimate">
    <div class="row" style="height: 40%;">
      <div class="colmd-12" style="background-color: yellow;">
        <div class="container mt-3">
          <h2>Calculate Estimate</h2>
          <form action="">
            <div class="mb-3 mt-3">
              <label>Builtup Area</label>
              <input type="text" class="form-control" id="area" placeholder="Enter Area (In Sqft)" name="sqft" required>
            </div>
            <div class="mb-3 mt-3">
              <label>Approx Cost (Per Square Feet) </label><br>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="rate" name="rate" value="{{r.Rate}}">
              <input type="hidden" value="{{r.Type_id}}" id="typer">
              <button class="btn btn-success" type="button" onclick="show();"><svg xmlns="http://www.w3.org/2000/svg"
                  width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                  <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                </svg> </button>
            </div>
            <button type="button" class="btn btn-primary" onclick="cal_estimate();">View Estimate</button>
          </form>
        </div>
      </div>
      <h2 id="heading">Calculation of Cost | Approx amount of cost for given construction is Rs. <span id="total"
        style="color: red; font-weight: bold"></span></h2><br>
      <div class="col-md-7" style="background-color: rgb(255, 255, 255);" id="table1">
        <table class="table table-bordered">
          <tr>
            <th colspan="2">
              Approximate cost on various work of materialas per thumb rule
            </th>
          </tr>
          <tr>
            <td>Cement (16.4 %)</td>
            <td><span id="c" style="text-decoration: dotted;"></span></td>
          </tr>
          <tr>
            <td>Sand (12.3 %)</td>
            <td><span id="s" style="background-color:rgb(208, 136, 136);"></span></td>
          </tr>
          <tr>
            <td>Aggregate (7.4 %)</td>
            <td><span id="a" style="background-color:rgb(208, 136, 136);"></span></td>
          </tr>
          <tr>
            <td>Steel (24.6 %)</td>
            <td><span id="st" style="background-color:rgb(208, 136, 136);"></span></td>
          </tr>
          <tr>
            <td>Finishers (16.5 %)5,61,000.00 Rs.<br>
              (Paint (4.1 %) + Tiles (8.0 %) + Bricks (4.4 %))</td>
            <td><span id="f" style="background-color:rgb(208, 136, 136);"></span></td>
          </tr>
          <tr>
            <td>Fittings (22.8 %)7,75,200.00 Rs.<br>
              (Window (3.0 %) + Doors (3.4 %) + Plumbing (5.5 %) + Eletrical (6.8 %) + Sanitary (4.1 %))</td>
            <td><span id="fi" style="background-color:rgb(208, 136, 136);"></span></td>
          </tr>
          <tr>
            <td><b>TOTAL COST</b></td>
            <td><span id="t" style="background-color:rgb(208, 136, 136);"></span></td>
          </tr>
        </table>
      </div>
      <div class="col-md-5" id="div2" style="width:100%; max-width:600px; height:500px;">
        <div id="myChart" style="width:100%; max-width:600px; height:500px;"> 
          heelo
        </div>
       
      </div>
    </div>
  </div>

</body>
<script>
  document.getElementById("estimate").style.display = "none";
  document.getElementById('rate').setAttribute("readonly", '');
  document.getElementById('heading').style.display = "none";
  document.getElementById('table1').style.display = "none";
  document.getElementById('div2').style.display = "none";

  function showmap() {

    var lat = document.getElementById('lat').value;
    var lon = document.getElementById('lon').value;
    var coords = lat + ',' + lon;
    document.getElementById("google_map").setAttribute('src', 'https://maps.google.co.in/?q=' + coords + '&output=embed');
  }
  function show() {
    if (document.getElementById('rate').hasAttribute('readonly')) {
      document.getElementById('rate').removeAttribute('readonly');
    }
    else {
      document.getElementById('rate').setAttribute("readonly", '');
    }
  }
  function cal_estimate() {
    google.charts.load('current', { 'packages': ['corechart'] });

    var area = document.getElementById('area').value;
    var rate = document.getElementById('rate').value;
    var type = document.getElementById('typer').value;

    if (area.length > 0 & rate.length > 0) {
      fetch("/cal-estimate", {
        body: JSON.stringify({ a: area, r: rate, t: type }),
        method: "POST"
      })
        .then((res) => res.json())
        .then((data) => {
          console.log(data);
          document.getElementById('heading').style.display = "block";
          document.getElementById('table1').style.display = "block";
          document.getElementById('div2').style.display = "block";

          document.getElementById('total').innerHTML = data.total;
          document.getElementById('t').innerHTML = data.total;
          document.getElementById('c').innerHTML = data.cement;
          document.getElementById('a').innerHTML = data.aggregate;
          document.getElementById('s').innerHTML = data.sand;
          document.getElementById('st').innerHTML = data.steel;
          document.getElementById('f').innerHTML = data.finishers;
          document.getElementById('fi').innerHTML = data.fittings;
          google.charts.setOnLoadCallback(drawChart);
          google.charts.load('current', { 'packages': ['corechart'] });

          function drawChart() {
            var d = google.visualization.arrayToDataTable([
              ['Months', 'Estimate'],
              ['First Month', data.firstm],
              ['Second Month', data.secondm],
              ['Third Month', data.thirdm],
              ['Fourth Month', data.fourthm],
              ['Fifth Month', data.fifthm],
              ['Sixth Month', data.sixthm],
            ]);

            var options = {
              title: 'To complete this construction in 6 months timeline money required'
            };

            var chart = new google.visualization.BarChart(document.getElementById('myChart'));
            chart.draw(d, options);
          }
        });
    }
    else {
      alert("Please enter Area and Rate");
    }
  }
</script>

</html>