<html>
    {%load static%}
    <head>
        <link rel="stylesheet" href="{% static 'css2/style1.css' %}">
    </head>
        <body>
            <center>
            <table class="responstable">
                <tr>
                    <th>Customer id</th>
                    <th>username</th>
                    <th>Actions</th>
                    
                </tr>
                <tr>
            {% for i in w %}
                <td>{{i.Customer_id}}</td>
                <td>{{i.cu_name}}</td>
                <td><a href="/edit_cus/{{i.Customer_id}}">view</a></td>
                </tr>
            {% endfor %}
            </table>
        </center>
        </body>
</html>