<html>
    {%load static%}
    <head>
        <link rel="stylesheet" href="{% static 'css2/style1.css' %}">
    </head>
        <body>
            <center>
            <table class="responstable">
                <tr>
                    <th>Company id</th>
                    <th>Username</th>
                    <th>License</th>
                    <th>Actions</th>
                    
                </tr>
                <tr>
            {% for i in w %}
                <td>{{i.Company_id}}</td>
                <td>{{i.co_name}}</td>
                <td>{{i.li_no}}</td>
                <td><a href="/edit_com/{{i.Company_id}}">view</a></td>
                </tr>
            {% endfor %}
            </table>
        </center>
        </body>
</html>