<html>
    {%load static%}
    <head>
        <link rel="stylesheet" href="{% static 'css2/style1.css' %}">
    </head>
        <body>
            <center>
            <table class="responstable">
                <tr>
                    <th>Contractor id</th>
                    <th>User Name</th>
                    <th>Field of Work</th>
                    <th>Experience(years)</th>
                    <th>Months</th>
                    <th>City</th>
                    <th>Pincode</th>
                    <th>License NO</th>
                    <th>Actions</th>
                   
                </tr>
                <tr>
            {% for i in w %}
                <td>{{i.Contractor_id}}</td>
                <td>{{i.c_name}}</td>
                <td>{{i.Field_of_work}}</td>
                <td>{{i.exp}}</td>
                <td>{{i.months}}</td>
                <td>{{i.city}}</td>
                <td>{{i.pincode}}</td>
                <td>{{i.lic_no}}</td>
                <td><a href="/edit_con/{{i.Contractor_id}}">view</a></td>
                </tr>
            {% endfor %}
            </table>
        </center>
        </body>
</html>